
<!DOCTYPE html>
<html>
  <head><title>eco-gen</title>
    <link rel="stylesheet" type="text/css" href="style.css">
                                              </head>
 <header>                                             <center>                                            <b>eco-gen</b></head>

  <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
  <a

 href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
  <a href="about" style="color:#2eb8b8; padding:40px">about</a>
  <a href="ecoresources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
                                             </center></header>

  <p><center><about><b>about eco-gen</b></about>
  <p><body>EcoGen aims to make it easier for everyone to be eco-friendly. We provide resources to aid you in determining if your state senator believes in human-caused climate change, as some attribute the shifting global patterns to weather, rather than fossil fuels and other human-caused factors. Additionally, we strive for the promotion of preserving ecosystems through our eco-bot. This provides the user with easy ways to reduce waste throughout your day, and to lessen your carbon footprint

    </body></p></center></p>

</html>
