<!DOCTYPE html>
<html>
<head><title>eco-gen</title>
<link rel="stylesheet" type="text/css" href="mainstyle.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/ecobotstyle.css">
</head>
<header>

  <center>
  <a href="/" style="color:#2eb8b8; padding:40px"><b>ecogen</b></a>

  <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
  <a href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
  <a href="aboutpage" style="color:#2eb8b8; padding:40px">about</a>
  <a href="resources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
  </center>
</header>                                                            <center><p><resources>resources</resouces></p></center>

                                                            <body>
                                                            <center><p><a href=     "https://www.huffingtonpost.com/entry/how-to-recycle-basics_us_578d7e8ce4b0c53d5cfab03d">Know the rules of recycling</a></p>

<p><a href="https://www.huffingtonpost.com/2012/09/26/buying-guide-best-reusable-shopping-bags_n_1911054.html
">Use reusable bags instead of plastic ones</a></p>


<p><a href="https://www.instyle.com/news/five-water-bottles-so-chic-youll-want-show-them">
Cut down on water bottles by switching to a reusable one</a></p>


<p><a href="https://www.target.com/p/ball-174-smooth-sided-regular-mouth-pint-16-oz-glass-mason-jars-12ct/-/A-51335088?ref=tgt_adv_XS000000&AFID=google_pla_df&CPNG=PLA_Kitchen+Shopping&adgroup=SC_Kitchen_Top%20Performers&LID=700000001170770pgs&network=g&device=c&location=9007921&gclid=Cj0KCQjwjtLZBRDLARIsAKT6fXxJCRqRI_3Ne0iP2f_N4JKn1cQJOM3-oQH7c4v56bsOLFlVPJUFrScaAgogEALw_wcB&gclsrc=aw.ds">Rely on mason jars and other storage containers to prevent wasting food</a></p>


<p><a href="https://money.howstuffworks.com/personal-finance/budgeting/5-tips-buying-groceries-in-bulk.htm">Buy non-perishable groceries in bulk to limit packaging</a></p>


<p><a href="https://www.thisoldhouse.com/ideas/10-uses-egg-carton">Return egg and berry cartons to the vendors at the farmers’ market for reuse.</a></p>

<p><a href="https://express.google.com/product/13764463888432695247_10516690316283797276_7815?utm_source=google_shopping&utm_medium=tu_cu&utm_campaign=7815&pdata=CgQ5Ljk5&utm_content=eid-lsjeuxoeqt,eid-ptgtgfeotu">Use cloth napkins and hand towels in your kitchen.</a></p>


<p><a href="https://www.babble.com/style/12-places-to-donate-clothes/">Give your old clothes to charities or others who can use them</a></p>


                                                                      <p><a href="https://www.dmv.org/md-maryland/voter-registration.php">Register to vote</a></p>

<p><a href="http://www.businessinsider.com/best-senators-environment-climate-change-votes-lcv-scorecard-2017-7">Support candidates and politicians who promote the well-being of the planet</a></p>


                                                          </center></body>
                                                            <footer>
  <center>
  <p><i>made with the help of kode with klossy</i></p>
  </center>
</footer>
                                                            </html>
