<!DOCTYPE html>
<html>
<head><title>eco-gen</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/ecobotstyle.css">
</head>
<body>
  <header>

    <center>                                            <b>eco-gen</b>

    <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
    <a href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
    <a href="about" style="color:#2eb8b8; padding:40px">about</a>
    <a href="ecoresources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
    </center>
  </header>

  <center><ecobot>eco-bot</ecobot></center>
  <form method="POST" action="results">
    <div>
      <!-- <p>Excellent! Are you:</p>
      <p>a. Watching TV </p>
      <p>b. Playing video games</p>
      <p>c. Charging your technology</p>
      <p>d. Using the thermostat</p> -->

      <form action="main_action.html">
        First name:<br>
        <input type="text" name="firstname" value="Mickey"><br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <input type="submit">
  </form>

  <footer>
    <center>
      <p><i>made with the help of kode with klossy</i></p>
    </center>
  </footer>

</body>
</html>
