<!DOCTYPE html>
<html>
<head><title>eco-bot</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/ecobotstyle.css">
</head>
<body>
  <header>

    <center>
    <a href="/" style="color:#2eb8b8; padding:40px"><b>ecogen</b></a>

    <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
    <a href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
    <a href="aboutpage" style="color:#2eb8b8; padding:40px">about</a>
    <a href="resources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
    </center>
  </header>

  <center><ecobot>eco-bot</ecobot></center>
  <form method="POST" action="results">
    <div>
      <!-- <p>Excellent! Are you:</p>
      <p>a. Watching TV </p>
      <p>b. Playing video games</p>
      <p>c. Charging your technology</p>
      <p>d. Using the thermostat</p> -->

      <input type="radio" name="doingNow" value="watchingTV"> Watching TV<br>
      <input type="radio" name="doingNow" value="playingVG"> Playing videogames<br>
      <input type="radio" name="doingNow" value="chargingTech"> Charing your technology<br>
      <input type="radio" name="doingNow" value="useTherm"> Using your thermostat<br>
    </div>

    <input type="submit">
  </form>

  <footer>
    <center>
      <p><i>made with the help of kode with klossy</i></p>
    </center>
  </footer>

</body>
</html>
