<!DOCTYPE html>
<html>
<head>
  <title>eco-gen</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/finalstyle.css">
</head>

<body>
  <header>

    <center>                                            <b>eco-gen</b>

    <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
    <a href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
    <a href="about" style="color:#2eb8b8; padding:40px">about</a>
    <a href="ecoresources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
    </center>
  </header>

  <center><p>Welcome to eco-gen! According to Natural Resources Defense Council, roughly 40% of food made in the United states is never eaten. This totals $165 billion a year wasted, about 400 pounds per American annually. The average American produces 4.4. pounds of trash every daily, garbage which often gathers in the depths of the ocean, destroying delicate ecosystems. And while landfills can be helpful for getting rid of waste, it has the potential to pollute surrounding soil and groundwater with toxins. When trash decomposes, methane and other greenhouse gases are released. These contribute to climate change and have been scientifically linked to health problems for humans and animals. The NASA reports average global sea level has risen 178mm over the past 100 years. A written by the NASA also reads, “because human-induced warming is superimposed on a naturally varying climate, the temperature rise has not been, and will not be, uniform or smooth across the country or over time.”

  All of these issues have one thing in common: they are just a few consequences that stem from wastefulness and a disregard for the planet.
But although humans have caused many of these devastating factors for the environment, it is possible for us to reverse these through our consumption of products, resourcefulness, and activism.
</p></center>

<center><img src="https://www.nationalgeographic.com/content/dam/travel/rights-exempt/Travel-2016/59-parks-52-weeks/north-cascades/north-cascades-national-park-picture-lake-mount-shuksan.jpg"</center>

</body>

<footer>
  <center>
  <p><i>made with the help of kode with klossy</i></p>
  </center>
</footer>


</html>
