<!DOCTYPE html>

<html>
  <head>
  <title>Senators</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/finalstyle.css">
  </head>
  <body>
    <header>

      <center>
      <a href="/" style="color:#2eb8b8; padding:40px"><b>ecogen</b></a>

      <a href="ecobot" style="color:#2eb8b8; padding:40px">ecobot</></a>
      <a href="ecogov" style="color:#2eb8b8; padding:40px">ecogov</></a>
      <a href="aboutpage" style="color:#2eb8b8; padding:40px">about</a>
      <a href="resources" style="color:#2eb8b8; padding:40px";>ecoresources</></a>
      </center>
    </header>
    <p>Your state senators are <%=@senators%>. In parentheses next to each senator's name is either a "Y" or a "N", indicating whether or not your representative has publically said that he or she believes in man made climate change.</p>
  </body>
</html>
