@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

header {color: #000080;
        font-family: "Rajdhani";
        text-align;
        font-size:300%;}
ecobot {color:#000080;
      font-family: "Comfortaa";
      font-size:100%}

body {color: #484349; 
      font-family: "Comfortaa";
      font-size:100%;
      background-color:#F7F0F0;
      line-height: 2.0}

footer {font-size:90%;
  color:light-grey;}
